<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>艾芬笃宾犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
		<key>阿拉斯加雪橇犬</key>
		<dict>
			<key>6-8个月</key>
			<string>35.00</string>
			<key>8-10个月</key>
			<string>40.00</string>
			<key>10-12个月</key>
			<string>50.00</string>
			<key>1岁</key>
			<string>50.00</string>
			<key>2岁</key>
			<string>50.00</string>
			<key>3岁</key>
			<string>50.00</string>
			<key>4岁</key>
			<string>50.00</string>
			<key>5岁</key>
			<string>50.00</string>
			<key>6岁</key>
			<string>50.00</string>
			<key>7岁</key>
			<string>50.00</string>
			<key>8岁</key>
			<string>50.00</string>
		</dict>
	</dict>
	<key>B</key>
	<dict>
		<key>巴吉度犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>25.00</string>
			<key>10-12个月</key>
			<string>30.00</string>
			<key>1岁</key>
			<string>30.00</string>
			<key>2岁</key>
			<string>30.00</string>
			<key>3岁</key>
			<string>30.00</string>
			<key>4岁</key>
			<string>30.00</string>
			<key>5岁</key>
			<string>30.00</string>
			<key>6岁</key>
			<string>30.00</string>
			<key>7岁</key>
			<string>30.00</string>
			<key>8岁</key>
			<string>30.00</string>
		</dict>
		<key>贝灵顿梗</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>30.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
		<key>伯恩山犬</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>40.00</string>
			<key>10-12个月</key>
			<string>50.00</string>
			<key>1岁</key>
			<string>50.00</string>
			<key>2岁</key>
			<string>50.00</string>
			<key>3岁</key>
			<string>50.00</string>
			<key>4岁</key>
			<string>50.00</string>
			<key>5岁</key>
			<string>50.00</string>
			<key>6岁</key>
			<string>50.00</string>
			<key>7岁</key>
			<string>50.00</string>
			<key>8岁</key>
			<string>50.00</string>
		</dict>
		<key>比熊犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
		<key>比利犬</key>
		<dict>
			<key>6-8个月</key>
			<string>35.00</string>
			<key>8-10个月</key>
			<string>45.00</string>
			<key>10-12个月</key>
			<string>50.00</string>
			<key>1岁</key>
			<string>50.00</string>
			<key>2岁</key>
			<string>50.00</string>
			<key>3岁</key>
			<string>50.00</string>
			<key>4岁</key>
			<string>50.00</string>
			<key>5岁</key>
			<string>50.00</string>
			<key>6岁</key>
			<string>50.00</string>
			<key>7岁</key>
			<string>50.00</string>
			<key>8个月</key>
			<string>50.00</string>
		</dict>
		<key>边境牧羊犬</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
		<key>边境梗</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>25.00</string>
			<key>10-12个月</key>
			<string>30.00</string>
			<key>1岁</key>
			<string>30.00</string>
			<key>2岁</key>
			<string>30.00</string>
			<key>3岁</key>
			<string>30.00</string>
			<key>4岁</key>
			<string>30.00</string>
			<key>5岁</key>
			<string>30.00</string>
			<key>6岁</key>
			<string>30.00</string>
			<key>7岁</key>
			<string>30.00</string>
			<key>8岁</key>
			<string>30.00</string>
		</dict>
		<key>波士顿梗</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>25.00</string>
			<key>10-12个月</key>
			<string>30.00</string>
			<key>1岁</key>
			<string>30.00</string>
			<key>2岁</key>
			<string>30.00</string>
			<key>3岁</key>
			<string>30.00</string>
			<key>4岁</key>
			<string>30.00</string>
			<key>5岁</key>
			<string>30.00</string>
			<key>6岁</key>
			<string>30.00</string>
			<key>7岁</key>
			<string>30.00</string>
			<key>8岁</key>
			<string>30.00</string>
		</dict>
		<key>布列塔尼长卷毛猎犬</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
		<key>伯格马斯科犬</key>
		<dict>
			<key>6-8个月</key>
			<string>35.00</string>
			<key>8-10个月</key>
			<string>40.00</string>
			<key>10-12个月</key>
			<string>50.00</string>
			<key>1岁</key>
			<string>50.00</string>
			<key>2岁</key>
			<string>50.00</string>
			<key>3岁</key>
			<string>50.00</string>
			<key>4岁</key>
			<string>50.00</string>
			<key>5岁</key>
			<string>50.00</string>
			<key>6岁</key>
			<string>50.00</string>
			<key>7岁</key>
			<string>50.00</string>
			<key>8岁</key>
			<string>50.00</string>
		</dict>
		<key>北京犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
		<key>波利犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>30.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
		<key>斑点狗</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
		<key>比格犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>25.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
	</dict>
	<key>C</key>
	<dict>
		<key>长须柯利牧羊犬</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>40.00</string>
			<key>10-12个月</key>
			<string>50.00</string>
			<key>1岁</key>
			<string>50.00</string>
			<key>2岁</key>
			<string>50.00</string>
			<key>3岁</key>
			<string>50.00</string>
			<key>4岁</key>
			<string>50.00</string>
			<key>5岁</key>
			<string>50.00</string>
			<key>6岁</key>
			<string>50.00</string>
			<key>7岁</key>
			<string>50.00</string>
			<key>8岁</key>
			<string>50.00</string>
		</dict>
		<key>查尔斯国王骑士獚犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>25.00</string>
			<key>1岁</key>
			<string>25.00</string>
			<key>2岁</key>
			<string>25.00</string>
			<key>3岁</key>
			<string>25.00</string>
			<key>4岁</key>
			<string>25.00</string>
			<key>5岁</key>
			<string>25.00</string>
			<key>6岁</key>
			<string>25.00</string>
			<key>7岁</key>
			<string>25.00</string>
			<key>8岁</key>
			<string>25.00</string>
		</dict>
		<key>查理士王小猎犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>25.00</string>
			<key>10-12个月</key>
			<string>30.00</string>
			<key>1岁</key>
			<string>30.00</string>
			<key>2岁</key>
			<string>30.00</string>
			<key>3岁</key>
			<string>30.00</string>
			<key>4岁</key>
			<string>30.00</string>
			<key>5岁</key>
			<string>30.00</string>
			<key>6岁</key>
			<string>30.00</string>
			<key>7岁</key>
			<string>30.00</string>
			<key>8岁</key>
			<string>30.00</string>
		</dict>
	</dict>
	<key>D</key>
	<dict>
		<key>斗牛犬</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>30.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
		<key>丹迪丁蒙埂</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
		<key>德国拳师犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>30.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
	</dict>
	<key>F</key>
	<dict>
		<key>法国指示猎犬</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>40.00</string>
			<key>10-12个月</key>
			<string>50.00</string>
			<key>1岁</key>
			<string>50.00</string>
			<key>2岁</key>
			<string>50.00</string>
			<key>3岁</key>
			<string>50.00</string>
			<key>4岁</key>
			<string>50.00</string>
			<key>5岁</key>
			<string>50.00</string>
			<key>6岁</key>
			<string>50.00</string>
			<key>7岁</key>
			<string>50.00</string>
			<key>8岁</key>
			<string>50.00</string>
		</dict>
		<key>芬兰狐狸犬</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
	</dict>
	<key>G</key>
	<dict>
		<key>戈登雪达犬</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
		<key>格陵兰犬</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>40.00</string>
			<key>1岁</key>
			<string>40.00</string>
			<key>2岁</key>
			<string>40.00</string>
			<key>3岁</key>
			<string>40.00</string>
			<key>4岁</key>
			<string>40.00</string>
			<key>5岁</key>
			<string>40.00</string>
			<key>6岁</key>
			<string>40.00</string>
			<key>7岁</key>
			<string>40.00</string>
			<key>8岁</key>
			<string>40.00</string>
		</dict>
		<key>贵宾犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
	</dict>
	<key>H</key>
	<dict>
		<key>蝴蝶犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
		<key>哈巴狗</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
		<key>哈士奇</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
	</dict>
	<key>J</key>
	<dict>
		<key>金毛</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>40.00</string>
			<key>10-12个月</key>
			<string>50.00</string>
			<key>1岁</key>
			<string>50.00</string>
			<key>2岁</key>
			<string>50.00</string>
			<key>3岁</key>
			<string>50.00</string>
			<key>4岁</key>
			<string>50.00</string>
			<key>5岁</key>
			<string>50.00</string>
			<key>6岁</key>
			<string>50.00</string>
			<key>7岁</key>
			<string>50.00</string>
			<key>8岁</key>
			<string>50.00</string>
		</dict>
		<key>吉娃娃犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
		<key>杰克罗素梗</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>25.00</string>
			<key>10-12个月</key>
			<string>25.00</string>
			<key>1岁</key>
			<string>25.00</string>
			<key>2岁</key>
			<string>25.00</string>
			<key>3岁</key>
			<string>25.00</string>
			<key>4岁</key>
			<string>25.00</string>
			<key>5岁</key>
			<string>25.00</string>
			<key>6岁</key>
			<string>25.00</string>
			<key>7岁</key>
			<string>25.00</string>
			<key>8岁</key>
			<string>25.00</string>
		</dict>
	</dict>
	<key>K</key>
	<dict>
		<key>可卡犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>30.00</string>
			<key>1岁</key>
			<string>30.00</string>
			<key>2岁</key>
			<string>30.00</string>
			<key>3岁</key>
			<string>30.00</string>
			<key>4岁</key>
			<string>30.00</string>
			<key>5岁</key>
			<string>30.00</string>
			<key>6岁</key>
			<string>30.00</string>
			<key>7岁</key>
			<string>30.00</string>
			<key>8岁</key>
			<string>30.00</string>
		</dict>
		<key>克龙弗兰德犬</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>30.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
	</dict>
	<key>L</key>
	<dict>
		<key>猎狐梗</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>25.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
		<key>拉布拉多寻回犬</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>40.00</string>
			<key>10-12个月</key>
			<string>50.00</string>
			<key>1岁</key>
			<string>50.00</string>
			<key>2岁</key>
			<string>50.00</string>
			<key>3岁</key>
			<string>50.00</string>
			<key>4岁</key>
			<string>50.00</string>
			<key>5岁</key>
			<string>50.00</string>
			<key>6岁</key>
			<string>50.00</string>
			<key>7岁</key>
			<string>50.00</string>
			<key>8岁</key>
			<string>50.00</string>
		</dict>
		<key>拉萨犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
		<key>腊肠犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>25.00</string>
			<key>1岁</key>
			<string>25.00</string>
			<key>2岁</key>
			<string>25.00</string>
			<key>3岁</key>
			<string>25.00</string>
			<key>4岁</key>
			<string>25.00</string>
			<key>5岁</key>
			<string>25.00</string>
			<key>6岁</key>
			<string>25.00</string>
			<key>7岁</key>
			<string>25.00</string>
			<key>8岁</key>
			<string>25.00</string>
		</dict>
	</dict>
	<key>M</key>
	<dict>
		<key>明斯特兰德犬</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>30.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
		<key>迷你杜宾犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
	</dict>
	<key>N</key>
	<dict>
		<key>纽芬兰犬</key>
		<dict>
			<key>6-8个月</key>
			<string>35.00</string>
			<key>8-10个月</key>
			<string>45.00</string>
			<key>10-12个月</key>
			<string>50.00</string>
			<key>1岁</key>
			<string>50.00</string>
			<key>2岁</key>
			<string>50.00</string>
			<key>3岁</key>
			<string>50.00</string>
			<key>4岁</key>
			<string>50.00</string>
			<key>5岁</key>
			<string>50.00</string>
			<key>6岁</key>
			<string>50.00</string>
			<key>7岁</key>
			<string>50.00</string>
			<key>8岁</key>
			<string>50.00</string>
		</dict>
		<key>挪威牧羊犬</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
		<key>诺里奇梗</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
	</dict>
	<key>P</key>
	<dict>
		<key>平毛寻回犬</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
	</dict>
	<key>R</key>
	<dict>
		<key>日本狆</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
	</dict>
	<key>S</key>
	<dict>
		<key>苏格兰牧羊犬</key>
		<dict>
			<key>6-8个月</key>
			<string>30.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
		<key>萨摩耶犬</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>40.00</string>
			<key>10-12个月</key>
			<string>50.00</string>
			<key>1岁</key>
			<string>50.00</string>
			<key>2岁</key>
			<string>50.00</string>
			<key>3岁</key>
			<string>50.00</string>
			<key>4岁</key>
			<string>50.00</string>
			<key>5岁</key>
			<string>50.00</string>
			<key>6岁</key>
			<string>50.00</string>
			<key>7岁</key>
			<string>50.00</string>
			<key>8岁</key>
			<string>50.00</string>
		</dict>
		<key>舒伯齐犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>30.00</string>
			<key>10-12个月</key>
			<string>40.00</string>
			<key>1岁</key>
			<string>40.00</string>
			<key>2岁</key>
			<string>40.00</string>
			<key>3岁</key>
			<string>40.00</string>
			<key>4岁</key>
			<string>40.00</string>
			<key>5岁</key>
			<string>40.00</string>
			<key>6岁</key>
			<string>40.00</string>
			<key>7岁</key>
			<string>40.00</string>
			<key>8岁</key>
			<string>40.00</string>
		</dict>
		<key>苏格兰梗</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>25.00</string>
			<key>1岁</key>
			<string>25.00</string>
			<key>2岁</key>
			<string>25.00</string>
			<key>3岁</key>
			<string>25.00</string>
			<key>4岁</key>
			<string>25.00</string>
			<key>5岁</key>
			<string>25.00</string>
			<key>6岁</key>
			<string>25.00</string>
			<key>7岁</key>
			<string>25.00</string>
			<key>8岁</key>
			<string>25.00</string>
		</dict>
	</dict>
	<key>T</key>
	<dict>
		<key>田野小猎犬</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
		<key>泰迪(贵宾犬)</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
	</dict>
	<key>W</key>
	<dict>
		<key>万能梗</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
		<key>威尔斯柯基犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>25.00</string>
			<key>10-12个月</key>
			<string>30.00</string>
			<key>1岁</key>
			<string>30.00</string>
			<key>2岁</key>
			<string>30.00</string>
			<key>3岁</key>
			<string>30.00</string>
			<key>4岁</key>
			<string>30.00</string>
			<key>5岁</key>
			<string>30.00</string>
			<key>6岁</key>
			<string>30.00</string>
			<key>7岁</key>
			<string>30.00</string>
			<key>8岁</key>
			<string>30.00</string>
		</dict>
	</dict>
	<key>X</key>
	<dict>
		<key>雪纳瑞</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
		<key>喜乐蒂牧羊犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>25.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
		<key>西施犬</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
		<key>西藏梗</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>30.00</string>
			<key>10-12个月</key>
			<string>35.00</string>
			<key>1岁</key>
			<string>35.00</string>
			<key>2岁</key>
			<string>35.00</string>
			<key>3岁</key>
			<string>35.00</string>
			<key>4岁</key>
			<string>35.00</string>
			<key>5岁</key>
			<string>35.00</string>
			<key>6岁</key>
			<string>35.00</string>
			<key>7岁</key>
			<string>35.00</string>
			<key>8岁</key>
			<string>35.00</string>
		</dict>
		<key>西高地</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>25.00</string>
			<key>10-12个月</key>
			<string>25.00</string>
			<key>1岁</key>
			<string>25.00</string>
			<key>2岁</key>
			<string>25.00</string>
			<key>3岁</key>
			<string>25.00</string>
			<key>4岁</key>
			<string>25.00</string>
			<key>5岁</key>
			<string>25.00</string>
			<key>6岁</key>
			<string>25.00</string>
			<key>7岁</key>
			<string>25.00</string>
			<key>8岁</key>
			<string>25.00</string>
		</dict>
		<key>雪达犬</key>
		<dict>
			<key>6-8个月</key>
			<string>25.00</string>
			<key>8-10个月</key>
			<string>35.00</string>
			<key>10-12个月</key>
			<string>45.00</string>
			<key>1岁</key>
			<string>45.00</string>
			<key>2岁</key>
			<string>45.00</string>
			<key>3岁</key>
			<string>45.00</string>
			<key>4岁</key>
			<string>45.00</string>
			<key>5岁</key>
			<string>45.00</string>
			<key>6岁</key>
			<string>45.00</string>
			<key>7岁</key>
			<string>45.00</string>
			<key>8岁</key>
			<string>45.00</string>
		</dict>
	</dict>
	<key>Y</key>
	<dict>
		<key>约克夏梗</key>
		<dict>
			<key>6-8个月</key>
			<string>20.00</string>
			<key>8-10个月</key>
			<string>20.00</string>
			<key>10-12个月</key>
			<string>20.00</string>
			<key>1岁</key>
			<string>20.00</string>
			<key>2岁</key>
			<string>20.00</string>
			<key>3岁</key>
			<string>20.00</string>
			<key>4岁</key>
			<string>20.00</string>
			<key>5岁</key>
			<string>20.00</string>
			<key>6岁</key>
			<string>20.00</string>
			<key>7岁</key>
			<string>20.00</string>
			<key>8岁</key>
			<string>20.00</string>
		</dict>
	</dict>
</dict>
</plist>
